<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    a {
        margin-right: 20px;
        display: inline-block;
        padding: 10px;
        background-color: red;
    }
</style>

<body>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>Fist Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>function</th>
        </tr>
        <% for(let i=0; i < data.length; i++){%>
            <tr>
                <td>
                    <%= data[i].email %>
                </td>
                <td>
                    <%= data[i].firstName %>
                </td>
                <td>
                    <%= data[i].lastName %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
                <td>
                    <a href="/editCRUD?id=<%=data[i].id%>">Edit</a>
                    <a href="/deleteCRUD?id=<%=data[i].id%>"> Delete </a>
                </td>
            </tr>
            <% }%>
    </table>
</body>

</html>